<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="stylesheet/style.css">
    <title>글쓰기</title>
</head>
<body>
    <form action="/post_upload" method="post">
        제목<input  class="post_upload_title" type="text" name="title" required><br>
        내용<textarea class="post_upload_content" name="content" cols="30" rows="5"></textarea><br>
        <button type="submit">글쓰기</button>
    </form>
</body>
</html>