<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 인증</title>
</head>
<body>
    <form action="/mail" method="post">
        <p><input type="email" name="email" placeholder="이메일 입력" required></p>
        <p><input type="submit" value="입력"></p>
    </form>
</body>
</html>